@import "./variables.scss";

 .navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  overflow-x: hidden;
  color: white;
  .brand {
    color: $primary;
    font-weight: 700;
    font-size: 2.3rem;
  }
  .action_button {
    padding: .5rem 1rem;
    background-color: #e50914;
    color: white;
    font-weight: 600;
    border-radius: .3rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 1rem;
    .brand {
      font-size: 1.8rem;
    }
    .action_button {
      font-weight: 500;
    }
  }
}