@import "variables";

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: black;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  .container {
    max-width: 40rem;
    text-align: center;
    header {
      font-weight: 700;
      font-size: 3.2rem;
    }
    .motto {
      font-weight: 500;
      font-size: 1.5rem;
      margin: 0.2rem 0 1rem 0;
    }
    .ctac {
      font-weight: 400;
      font-size: 1.2rem;
      margin-bottom: 0.3rem;
    }
    .input_wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      input {
        padding: 0.8rem;
        outline: none;
        width: 30rem;
        margin-bottom: 0.5rem;
        background-color: white;
        border: none
      }
      button {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        background-color: $primary;
        border: none;
        color: white;
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    .container {
      header {
        font-size: 2.5rem;
        // max-width: 10rem;
      }
      .motto {
        font-size: 1.2rem;
      }
      .ctac {
        font-size: 1rem;
      }
      input{
        background-color: white;
        max-width: 18rem;
      }
    }
  }
}

// @media (max-width: 520px) {
//   .wrapper {
//     .container {
//       header {
//         font-size: 2.5rem;
//         // max-width: 10rem;
//       }
//       .motto {
//         font-size: 1.2rem;
//       }
//       .ctac {
//         font-size: .8rem;
//       }
//     }
//   }
// }
